    <ul id="todo-list">
        {{#each item in model itemController="todo"}}
        <li {{bind-attr class="item.isCompleted:completed item.isEditing:editing"}}>
            {{#if item.isEditing}}
                {{input type="text" class="edit" value=item.title focus-out="acceptChanges"
                insert-newline="acceptChanges"}}
            {{else}}
                {{input type="checkbox" checked=item.isCompleted class="toggle"}}
                <label {{action "editTodo" on="doubleClick"}}>{{item.title}}</label><button class="destroy"></button>
            {{/if}}
        </li>
        {{/each}}
    </ul>
